@charset "utf-8";
html {
    font-size: 100px;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: .14rem;
    font-famliy: "微软雅黑";
    box-sizing: border-box;
}

body {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

button,
textarea,
select,
input {
    appearance: none;
}

a {
    top-highlight-color: rgba(0, 0, 0, 0)
}

html,
body {
    width: 100%;
    height: 100%;
}

@mixin num($w, $h) {
    width: $w;
    height: $h;
}

$bg:background;
@font-face {
    font-family: "iconfont";
    src: url('../fonts1/iconfont.eot?t=1476059862');
    /* IE9*/
    src: url('../fonts1/iconfont.eot?t=1476059862#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts1/iconfont.woff?t=1476059862') format('woff'), /* chrome, firefox */
    url('../fonts1/iconfont.ttf?t=1476059862') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts1/iconfont.svg?t=1476059862#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.wrap {
    @include num(100%,
    100%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header {
    @include num(100%,
    .3rem);
    display: flex;
    justify-content: space-between;
    padding: 0 .15rem;
    span {
        font-size: .2rem;
        i.icon {
            font-size: .2rem;
            font-weight: 800;
            margin: 0 .15rem;
        }
    }
}

.input-search {
    @include num(100%,
    .3rem);
    padding: 0 .15rem;
    margin-top: .1rem;
    position: relative;
    input {
        @include num(100%,
        .3rem);
        border-radius: .1rem;
        background: #F0F1F2;
        color: #666;
        border: 0;
        text-indent: .3rem;
    }
    i.icon {
        position: absolute;
        top: .07rem;
        left: .2rem;
        color: #666;
    }
}

section {
    flex: 1;
}

.swiper {
    @include num(100%,
    2rem);
}

.boxOne {
    @include num(100%,
    2rem);
    margin-top: .1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 .15rem;
    li {
        @include num(18%,
        auto);
        margin-left: .05rem;
        text-align: center;
        img {
            @include num(100%,
            .5rem);
        }
    }
}

.section-contain-main {
    @include num(100%,
    3rem);
    overflow: hidden;
}

.section-wrapper-main {
    // @include num(650%,
    // 3rem);
    display: flex;
    dl {
        @include num(1.5rem,
        auto);
        dt {
            img {
                @include num(80%,
                auto);
            }
        }
        dd {
            p {
                @include num(1.5rem,
                .21rem);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #515151;
                &:nth-of-type(2) {
                    color: #FE4522;
                    line-height: 1.5;
                    b {
                        margin-right: .1rem;
                        font-size: .16rem;
                    }
                    span {
                        @include num(0.65rem,
                        .16rem);
                        position: absolute;
                        border: 1px solid #FE4522;
                        border-radius: .05rem;
                        text-align: center;
                        line-height: .16rem;
                    }
                }
                &:nth-of-type(3) {
                    margin-top: .05rem;
                    color: #999999
                }
            }
        }
    }
}

footer {
    @include num(100%,
    .3rem);
    #{$bg}: yellow;
}