@charset "UTF-8";
html {
  font-size: 100px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: .14rem;
  font-famliy: "微软雅黑";
  box-sizing: border-box;
}

body {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

button,
textarea,
select,
input {
  appearance: none;
}

a {
  top-highlight-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "iconfont";
  src: url("../fonts1/iconfont.eot?t=1476059862");
  /* IE9*/
  src: url("../fonts1/iconfont.eot?t=1476059862#iefix") format("embedded-opentype"), url("../fonts1/iconfont.woff?t=1476059862") format("woff"), url("../fonts1/iconfont.ttf?t=1476059862") format("truetype"), url("../fonts1/iconfont.svg?t=1476059862#iconfont") format("svg");
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

header {
  width: 100%;
  height: 0.3rem;
  display: flex;
  justify-content: space-between;
  padding: 0 .15rem;
}

header span {
  font-size: .2rem;
}

header span i.icon {
  font-size: .2rem;
  font-weight: 800;
  margin: 0 .15rem;
}

.input-search {
  width: 100%;
  height: 0.3rem;
  padding: 0 .15rem;
  margin-top: .1rem;
  position: relative;
}

.input-search input {
  width: 100%;
  height: 0.3rem;
  border-radius: .1rem;
  background: #F0F1F2;
  color: #666;
  border: 0;
  text-indent: .3rem;
}

.input-search i.icon {
  position: absolute;
  top: .07rem;
  left: .2rem;
  color: #666;
}

section {
  flex: 1;
}

.swiper {
  width: 100%;
  height: 2rem;
}

.boxOne {
  width: 100%;
  height: 2rem;
  margin-top: .1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 .15rem;
}

.boxOne li {
  width: 18%;
  height: auto;
  margin-left: .05rem;
  text-align: center;
}

.boxOne li img {
  width: 100%;
  height: 0.5rem;
}

.section-contain-main {
  width: 100%;
  height: 3rem;
  overflow: hidden;
}

.section-wrapper-main {
  display: flex;
}

.section-wrapper-main dl {
  width: 1.5rem;
  height: auto;
}

.section-wrapper-main dl dt img {
  width: 80%;
  height: auto;
}

.section-wrapper-main dl dd p {
  width: 1.5rem;
  height: 0.21rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #515151;
}

.section-wrapper-main dl dd p:nth-of-type(2) {
  color: #FE4522;
  line-height: 1.5;
}

.section-wrapper-main dl dd p:nth-of-type(2) b {
  margin-right: .1rem;
  font-size: .16rem;
}

.section-wrapper-main dl dd p:nth-of-type(2) span {
  width: 0.65rem;
  height: 0.16rem;
  position: absolute;
  border: 1px solid #FE4522;
  border-radius: .05rem;
  text-align: center;
  line-height: .16rem;
}

.section-wrapper-main dl dd p:nth-of-type(3) {
  margin-top: .05rem;
  color: #999999;
}

footer {
  width: 100%;
  height: 0.3rem;
  background: yellow;
}
